.head_in {
  text-align: center;
  position: top;
  width: 100%;
  color: white;
  background-color: gray;
  background: url("../imgs/jakob-owens-224352.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  height: 475px;
}
.page_wrapper {
  display: inline-block;
  background-color: RGBA(0,0,0,0);
  width: 100%;

}
body {
  background-color: #C1C1C1;
}
}
.lols {
  width: 50px;
  height: 50px;
  border: #000 1px solid;
}
.nav {
  display: inline-block;
  position: relative;
  right: 0px;
}
.nav-item {
  display: block;
  float: left;
}
.nav-link {
  color: #FFF;
}
.nav-link:hover {
  color: RGBA(255, 115, 32, 1);
}
.headers {
  width: 100%;
  font-size: 36px;
}

.side1, .side2 {
  width: 50%;
  display: inline;
}
.side2 {

  margin-left: -7px;
}
.side1 {
  color: RGBA(255, 115, 32, 1);
}
h2 {
  font-size: 1rem;
}
.footerImg {
  margin: auto;
  border-radius: 50%;
  position: relative;
}
.personalPic {
  border-radius: 50%;
  width: 8%;
  border: 2px white solid;
  display: block;
  margin: auto;
}
.mySig {
  width: 78px;
  display: block;
  margin: auto;

}
/* PROJECTS PAGE */
.projectImg {
  width: 100px;
}
.projDesc {
  height: 0%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  background-color: #C1C1C1;
  top:0px;
}
.imageContainer {
  position: relative;
  z-index: 5;

}
.project {
  position:relative;
  margin: auto;
  width: 200px;
  float: left;
}
#projects {
  width: 47%;
  margin: auto;
}
.projTitle {
  display: inline;
}
.projectsHead {
  
  margin: auto;
  width: 380px;
  font-size: 92px;
}
.dropdownbutton {
  width: 35px;
  display: inline-block;
}
/*Interests Page*/
.clipArt {
  border-radius: 50%;
  width: 15%;
}
/*About Me*/
.animation-container {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
